{# Dywee\CMSBundle\Resources\View\CMS\menu.html.twig #}

{% include 'DyweeCMSBundle:Nav:header.html.twig' %}

<div class="banner-top">
    <div class="container">
        {% include 'DyweeCMSBundle:Nav:navbar.html.twig' %}
    </div>
</div>