{% extends '@DyweeCMSBundle/admin.html.twig' %}

{% block metaTitle %}
    Création d'une alerte {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h1 class="box-title">Création d'une alerte</h1>
                </div>
                <div class="box-body">
                    {% include "@DyweeCMSBundle/CMSAlert/form.html.twig" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
