{# app\Resources\View\Admin\page.html.twig #}

{% extends '::layout.html.twig' %}

{% block body %}

    {% block title %}<h1>{{ page.name }}</h1>{% endblock %}

    <div class="container">
        {% block bodySubContent %}
            {% for pageElement in page.pageElements %}
                {% set blockElement = pageElement.template %}
                {% include blockElement %}
            {% endfor %}
        {% endblock %}
    </div>

{% endblock %}