{# Dywee\ModuleBundle\Resources\View\CustomForm\add.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block title %}
    Coup d'oeil sur une réponse de formulaire {{ parent() }}
{% endblock %}

{% block body %}
    <div class="title-heading">
        <h1>Coup d'oeil sur une réponse du formulaire "{{ customForm.name }}"</h1>
    </div>

    {{ form(response) }}
{% endblock %}