{# Dywee\CMSBundle\Resources\View\CMS\edit.html.twig #}

{% extends '@DyweeCMSBundle/admin.html.twig' %}

{% block metaTitle %}
    Ajout d'une page {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <h1>Ajout d'une page</h1>

            {% include "@DyweeCMSBundle/Page/form.html.twig" %}

        </div>
    </div>

{% endblock %}

{% block footerJavascript %}
    {{ parent() }}
    <script>
    var cms_ajax_url = '{{ path('cms_getPageElementDashboard_byAjax') }}';
    </script>
    <script src="{{ asset('build/dywee_cms.js') }}"></script>
{% endblock %}
