{# Dywee\CMSBundle\Resources\View\CMS\edit.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification d'une page {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row"><div class="col-md-12">
    <h1>Modification de {{ page.name }}</h1>

    {%  include "DyweeCMSBundle:Page:form.html.twig" %}
    </div></div>
{% endblock %}

{% block footerJavascript %}
    <script src="{{ asset('bundles/dyweecms/js/form.js') }}"></script>
    <script src="{{ asset('bundles/dyweecore/js/jquery-ui.min.js') }}"></script>
{% endblock %}