<footer>
    <div class="container">
        <div class="footer-main">
            <div class="row">
                <div class="col-xs-12 col-center">
                    {{ render(controller('Dywee\\CMSBundle\\Controller\\MenuController::navbarAction', {position: 'footer'})) }}
                </div>
                <div class="col-xs-12">
                    <div class="footer-bottom">
                        <ul class="ftr-socialicons">
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="gmail"> </a></li>
                            <li><a href="#" class="print"> </a></li>
                        </ul>
                        <p class="footer-copyrts">Designed by <a href="http://dywee.com/" target="_blank">Dywee</a> </p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</footer><!--  End footer  -->
