{# Dywee\CMSBundle\Resources\View\CMS\table.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block title %}
    Liste de vos pages {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('dywee_cms_add') }}" class="btn btn-success pull-right action-right"><i class="fa fa-plus"></i> Ajouter</a>

            <div class="title-heading">
                <h1 class="text-center">Liste des Pages</h1>
            </div>
            {% include 'DyweeCMSBundle:Admin:table.html.twig' %}
        </div>
    </div>

{% endblock %}