{# Dywee\CMSBundle\Resources\View\admin.html.twig #}

{% extends "DyweeCoreBundle::admin.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('dywee_cms_table') }}"><i class="fa fa-files-o"></i> Pages</a></li>
{% endblock %}