{# app\Resources\View\Admin\page.html.twig #}

{% extends 'layout.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> {{ flashMessage }}</h4>

            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i>{{ flashMessage }}</h4>

            </div>
        </div>
    {% endfor %}

    {% block metaTitle %}{{ page.name }}{% endblock %}

    <div class="container">
        {% block bodySubContent %}
            {% for pageElement in page.pageElements %}
                {% include pageElement.template %}
            {% endfor %}
        {% endblock %}
    </div>

{% endblock %}
